#BaseComponent {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    /*border: 14px outset rgba(116, 161, 230, 0.5);*/
    /*border: 3px outset rgba(227, 218, 207, 0.33);*/
    border-radius: 10px;
    background-color: #141521;
    background-image: url("../simple-dashed.png");

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    overflow-y: scroll;

    transition: 0.3s;

    scrollbar-width: none;



}

#BaseComponent:hover {
    /*border: 2px outset rgba(146, 251, 255, 0.36);*/

}

/*show scroll onnly when scroll is down?*!*/

/*#BaseComponent:hover > .componentTop {*/
/*    opacity: 0.4;*/
/*}*/



.scrollbar
{
    /*margin-left: 30px;*/
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}



.settingsButton:hover {
    opacity: 1;
    text-shadow: 1px 1px 3px black;
}

.componentTop {
    z-index: 10000;
    opacity: 1;
    /*text-shadow: 1px 1px 3px black;*/

}

.componentTop:hover:active {
    opacity: 0;
}

.closee {
    color: orangered;
}

.closee:hover {
    color: orangered;
}

.draggg {
    color: #92d627;
    cursor: move;

}

.draggg:hover {
    color: #92d627;
}

.settingsss {
    font-weight: bold;
    color: #b99008;
}

.settingsss:hover {
    color: #ffc60b;
}


.componentTop:hover > .settingsButton {
    top: -10px;
}

.settingsButton {
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /*color: rgba(0, 0, 0, 0.61);*/
    opacity: 0.7;
    font-size: 22px;
    /* margin-left: -12px; */
    border: 2px ridge #ff8b00;
    /*background-color: rgba(255, 198, 11, 0.23);*/
    background-color: #352300;
    background-image: url("../iron-grip.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /*color: #ffc60b;*/

    text-shadow: 1px 1px 36px #fffe4e;
    stroke: blue;
    /* margin-right: 5px; */
    /* margin-top: -2px; */
    /* padding-bottom: 106px; */
    /* margin-bottom: 1px; */
    /* width: 34px; */
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
    height: 73%;
    z-index: 2000;
    position: relative;
    top: -50px;

}

#settingsInner {
    border: 2px ridge #ff8b00;
    /*background-color: rgba(255, 198, 11, 0.23);*/
    background-color: #352300;
    background-image: url("../iron-grip.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    color: #ffc60b;

    border-radius: 5px;
    padding: 2px;
}

#settingsX {


    margin-left: auto;
    opacity: 0.5;
    transition: 0.3s;
    font-size: 20px;
}

#settingsX:hover {
    opacity: 1;
}

#settingsX:hover:active {
    opacity: 0.5;
}

#settingstitle {
    opacity: 0.7;
    transition: 0.3s;

}

#settingstitle:hover {
    opacity: 1;
}

#topsettings {

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    z-index: 3000;
    /*margin: 10px;*/

    /*height: fit-content;*/

    width: -moz-fit-content;


    transition: 0.4s;



    border-radius: 5px;


}




#topsettings {

    /*padding: 3px;*/

    margin-top: 4px;

}




/*.componentTop:hover {*/
/*    background-color: rgba(38, 26, 20, 0.42);*/
/*}*/

/*.componentTop:hover .settingsButton {*/
/*    opacity: 0.3;*/
/*    !*background-color: #5b97e6;*!*/
/*}*/

.componentTop {
    opacity: 0;
    position: absolute;
    width: 100%;

    transition: 0.4s;

}

.componentTop:hover {
    opacity: 1;
    /*position: initial;*/
    /*background-color: #5b97e6;*/


}

.componentTop.chart {
    padding-bottom: 48px;
}


.componentTop.chart.active {
    pointer-events: none;
}

.componentTop.chart:hover {
    position: initial;
}

#BaseComponent::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(72, 245, 72, 0);
    border-radius: 0px;
    opacity: 0;
}

#BaseComponent::-webkit-scrollbar
{
    width: 0px;
    height: 4px;
    background-color: rgba(130, 56, 245, 0);
    opacity: 0;
}

#BaseComponent::-webkit-scrollbar-thumb:hover {
    border: 1px solid rgba(170, 128, 77, 0.9);
}

#BaseComponent::-webkit-scrollbar-thumb
{
    z-index: 10000;
    background-color: rgba(170, 128, 77, 0.09);
    border: 1px solid rgba(170, 128, 77, 0.67);
    border-radius: 3px;

    background-image: -webkit-linear-gradient(270deg,
    rgba(0, 0, 0, 0) 25%,
    transparent 3%,
    transparent 50%,
    rgba(0, 0, 0, .2) 90%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent)

}



